@charset "utf-8";
/* Portefoelje */

/* Add a black background color to the top navigation */
.topnav {
	background-color: #659EFC33;
	overflow: hidden;
	border-radius: 5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	display: block;
	color: #0D1420;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 5px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #4C77BD;
	color: ghostwhite;
	border-radius: 5px;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
	background-color: #334F7E;
	color: ghostwhite;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
	display: none;
  }

body {
	   background-color: ghostwhite;
	}

#cvbilde {
		max-width: 100%;
  		height: 400px;
        border-radius: 15px;
        border: 2px;
        border-color: black;
		display: block;
		margin-left: auto;
		margin-right: auto;
		}
        
.overskrift {
		background-color: #659EFC;
		padding: 2px;
		border-radius: 20px;
		text-transform: uppercase;
        font-family: "Arial Black", "sans-serif";
		text-rendering: optimizeLegibility;
		text-align: center;
		margin-bottom: 80px;
    	}
		.fa-brands {
			padding: 20px;
			font-size: 30px;
			width: 50px;
			color: #000000;
			text-align: center;
			text-decoration: none;
		}

h2 {
		font-family: Arial, Helvetica, sans-serif;
		text-rendering: optimizeLegibility;
		text-align: center;
		text-decoration:underline;
		text-decoration-color: #659EFC;
		padding: 5px;
    	}
	
h3 {
        font-family: Arial, Helvetica, sans-serif;
		text-rendering: optimizeLegibility;
		text-align: center;
    	}
	
    ul{
		font-family: Arial, Helvetica, sans-serif;
		text-rendering: optimizeLegibility;
		text-align: center;
		list-style-type: none;
		padding-bottom: 80px;
		}

	ul li {
		font-family: Arial, Helvetica, sans-serif;
		text-rendering: optimizeLegibility;
		display: block;
		padding: 0.4rem;
		text-align: center;
		}